<a href="https://colab.research.google.com/github/sravanthilearning/Python_Practice/blob/main/Python_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

String Slice Operators:

Python language has Positive and Negative index's which no other language has got. Let's see some String challenges using Slice operator

1. Extract a piece of sub-string

In [ ]:
s= "How blessed i'm to have the family i've got?"
output= s[4:11] # The syntax is string[StartIndex: EndIndex+1] EndIndex will retrieve 1 lesser value. Hence if you need 'd'
# in this case, we need to specify the end-index as 11
print(output)

output1=s[4:]
print(output1)
output2=s[4:15]
print(output2)

blessed
blessed i'm to have the family i've got?
blessed i'm

2. Using Postive and Negative Index's

#String - * operator

In [ ]:
s="sam" *3
print(s)

samsamsam

In [8]:
s="aaradhya"
a="sravanthi"
print(s[0])
print(s[-1])
print(len(s))
print(len(a))
print(s + a)

a
a
8
9
aaradhyasravanthi

In [ ]:
# How to extract 'dhya' and 'nthi' from both the strings and concatenate them together
s="aaradhya"
a="sravanthi"
print(s[0])

In [9]:
# 2.1 First letter should be Upper-case
output=s[0].upper() + s[1:]
print(output)

Aaradhya

In [4]:




# 2.2 First and Last letters should be Upper-case
output1 = s[0].upper() + s[1:len(s)-1] + s[-1].upper()  #len(string) retrieves the length of the string
print(len(s))
print(output1)

# 2.3 Retrieve the whole string
output2= s[:] # If there is no Start and End index, then it retrieves the whole string
print(output2)

print(s[:1000]) # Whatever maximum could be the end-index, it still retrieves the complete string if it goes beyond the end-index range

# 2.4 Reverse the string
output3= s[::-1]
print(output3)

# Figure the output
output4= s[9:1]
print(output4) # The result is going to be empty

a
a
Aaradhya
AaradhyA
aaradhya
aaradhya
ayhdaraa

# +, * Operators

# '+' Operator works only on Strings

In [ ]:
  s= 'Sravanthi' + 'Munna'
print(s)
# s1= "Sravanthi" + 3
#print(s1)
# The above one is an error because + operator in Python always accepts Strings

SravanthiMunna

# * Operator

In [ ]:
s = 'Sravanthi' * 2
print(s)
# Please note that * operator only works on one string and one integer. It will error out if there are 2 strings. Then where can we use this?

s1 ='#' * 10
s2 ='Sravanthi**Aaradhya**Munna'
s3 ='#' * 10
print(s1+s2+s3)

SravanthiSravanthi
##########Sravanthi**Aaradhya**Munna##########